/******************
Styles CSS
******************/
h1{
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    font-size: 50px;
    font-weight: 600;
}

h2{
    font-size: 38px;
    font-weight: 700;
}

h3{
    text-align: left;
    letter-spacing: 0px;
    color: #FF3147;
    text-transform: uppercase;
    opacity: 1;
    font-size: 20px;
}

h4{
    font-size: 18px;
}

p{
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 15px;
}
  

/******************
Hero Section
******************/
#hero{
    height: 100vh;
}

.hero-content{
    display: flex;
    gap: 68px;
    padding: 100px;
    align-items: center;
    padding-left: 375px;
    padding-right: 375px;
}

.hero-right img{
    height: 737px;
    width: 487px;
}

.hero-left h1{
    margin-top: 39px;
    margin-bottom: 50px;
}

.hero-left p{
    margin-bottom: 60px;
}

.hero-left button{
    width: 160px;
    height: 50px;
    background: #FF3147;
    border-radius: 2px;
    opacity: 1;
    color: #ffffff;
    border: none;
}

.hero-left button:hover{
    opacity: 0.9;
    box-shadow: 3px 6px 20px #672C2C1F;
}

/* Form Popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .popup h2{
    margin-bottom: 30px;
  }
  
  .popup button {
    height: 50px;
    background: #FF3147;
    border-radius: 2px;
    opacity: 1;
    color: #ffffff;
    border: none;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 70%;
    max-width: 520px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .form-section {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-fullname {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .form-label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease-out;
  }
  
  .form-input {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease-out;
    background-color: transparent;
  }
  
  .form-input:focus {
    outline: none;
    border-bottom-color: #FF3147;
  }
  
  .form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    top: -20px;
    font-size: 12px;
    color: #FF3147;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #agree {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #FF3147;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
  }
  
  #agree:checked::before {
    content: '✔';
    font-size: 14px;
    color: #fff;
    position: absolute;
  }
  
  #agree:checked {
    background-color: #FF3147;
  }
  
  
/******************
About Section
******************/
#about{
    background-color: #FAFAFA;
    padding: 100px 375px 100px 375px;
}

.about-header{
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.about-header h2{
    width: 700px;
}

#whychooseus{
    padding: 100px 375px 100px 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whychooseus h2{
    margin-bottom: 60px;
}

.cards{
    display: flex;
    gap: 49px;
}

.card{
    width: 256px;
    border: none;
}

.card img{
    width: 72px;
    margin-bottom: 20px;
}

.card h4{
    margin-bottom: 15px;
}


/******************
Our Project Section
******************/
#our-project {
    padding: 100px 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #our-project h2 {
    margin-bottom: 60px;
  }
  
  .image-container {
    position: relative;
    width: 660px;
    height: 550px;
  }
  
  .project-image {
    width: 660px;
    height: 550px;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
  }
  
  .project-details {
    display: flex;
    gap: 30px;
  }
  
  .project-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .project-items .item {
    padding: 35px;
    background-color: #f6f6f6;
    height: 170px;
    width: 370px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .project-items .item:hover{
    opacity: 0.9;
    box-shadow: 3px 6px 20px #672C2C1F;
  }
  
  .project-items .item.active {
    background-color: #ff3147;
    color: #ffffff;
  }

  .project-items .item.active p{
    color: #ffffff;
  }


/******************
Growth Section
******************/
#growth{
    padding: 100px 375px 100px 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

#growth h2{
    margin-bottom: 60px;
}

#growth .card{
    width: 233px;
    border: none;
    padding: 30px;
    align-items: center;
    cursor: pointer;
}

#growth .card:hover{
    box-shadow: 3px 6px 20px #672C2C1F;
}

#growth .card img{
    width: 40px;
    margin-bottom: 20px;
}

#growth .card h4{
    margin-bottom: 15px;
    font-size: 50px;
}


/******************
Feedback Section
******************/
#feedback{
    padding: 100px 375px 100px 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback h2{
    margin-bottom: 60px;
}

#feedback p{
    font-size: 18px;
}

#feedback .des{
    width: 830px;
    position: relative;
    padding: 20px;
}

.des img{
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

#feedback .name{
    color: #FF3147;
    font-size: 14px;
    font-weight: 700;
}

#feedback span{
    color: #808080;
    font-weight: 100;
}


/******************
Footer
******************/
footer{
    height: 310px;
    background-image: url(./public/footer.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    height: 56px;
}


/******************
Slider classes
******************/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__container{
    position: relative;
    height: 600px;
}
  
.card__content {
    overflow: hidden;
}

.card__article {
    height: 526px;
    width: 370px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card__article:hover {
    transform: scale(1.05);
}

.card__image {
    position: relative;
}

.card__img {
    height: 526px;
    width: 370px;
}

.card__data {
    background-color: #FF3147;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    z-index: 50;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
}

.card__article:hover .card__data {
    transform: translateY(0);
}

.card__data p {
    color: #ffffff;
}

.card__data h3 {
    color: #ffffff;
}

.card__data button {
    background-color: #ffffff;
    height: 50px;
    width: 185px;
    border: none;
    font-size: 15px;
    color: #FF3147;
}

.card__data button img {
    height: 8px;
    margin-left: 10px;
}

.card-icon {
    height: 57px;
}

.card__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card__article:hover .card__shadow {
    opacity: 1;
}

.card__name {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .75rem;
}

.card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
    text-align: center;
}

.card__button {
    display: inline-block;
    background-color: var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
}

.card__button:hover{
    opacity: 0.9;
    box-shadow: 3px 6px 20px #672C2C1F;
}


.swiper-pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: url('./public/nav-n.svg') no-repeat center;
    background-size: contain;
}

.swiper-pagination-bullet-active {
    width: 30px;
    height: 30px;
    background: url('./public/nav-a.svg') no-repeat center;
    background-size: contain;
}


/******************
Animation classes
******************/
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#growth .card:nth-child(2){
    transition-delay: 200ms;
}

#growth .card:nth-child(3){
    transition-delay: 400ms;
}

#growth .card:nth-child(4){
    transition-delay: 600ms;
}

#whychooseus .card:nth-child(2){
    transition-delay: 200ms;
}

#whychooseus .card:nth-child(3){
    transition-delay: 400ms;
}

#whychooseus .card:nth-child(4){
    transition-delay: 600ms;
}